<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='Styles/teste.css') }}"> 
    <title>Testebanco</title>
</head>
<body>
    <h1 style="text-align: center;">Banco Teste</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <th>ID</th>
                            <th>Titulo</th>
                            <th>Resumo</th>
                            <th>Link</th>
                            <th>Fonte</th>
                            <th>Data</th>
                            <th>PLDFT</th>
                        </thead>
                        <tbody>
                            {% for alertas in alerta%}
                            <tr>
                                <td>{{alertas.id}}</td>
                                <td>{{alertas.titulo}}</td>
                                <td>{{alertas.resumo}}</td>
                                <td>{{alertas.link}}</td>
                                <td>{{alertas.fonte}}</td>
                                <td>{{alertas.data}}</td>
                                <td>{{alertas.pldft}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>