header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 108, 168);
    padding: 20px 20px;
    color: #ffffff;
  }
body{
    font-family: 'Arial Light', Sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: #FFF;
    color: #56585e;
    justify-content: center;
}

table, tr, td, th{
    
    margin: auto;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    width:1000px;
    padding:0px;
    font-size:20px;
}
th{
    border-collapse: separate;
    border-radius: 7px;
    height: 40px;
    background-color:#56585e;
    color:#FFF;
}
td{
    width:400px;
    height:30px;
}

td:nth-child(2){
    border-collapse: collapse;
    border-bottom: 0px;
    border-top: 0px;
    border: rgb(68, 108, 168) solid 3px;
    background-color: rgb(68, 108, 168);
    color: #FFF;
}

td:nth-child(4){
    border-collapse: collapse;
    border-bottom: 0px;
    border-top: 0px;
    border: rgb(68, 108, 168) solid 3px;
    background-color: rgb(68, 108, 168);
    color: #FFF;
}
td:nth-child(6){
    border-collapse: collapse;
    border-bottom: 0px;
    border-top: 0px;
    border: rgb(68, 108, 168) solid 3px;
    background-color: rgb(68, 108, 168);
    color: #FFF;
}
tr{
    
    font-family: 'Arial Black', Sans-serif;
    border-top: 5px solid black ;
    background-color: #95aae2;
}